<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zunder.ebs.zunderapp">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconzunder"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconzunder"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="zunder.ebs.zunderapp.Utils.MainActivity"
            android:icon="@drawable/iconzunder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="zunder.ebs.zunderapp.Wallet.Wallet" />
        <activity android:name="zunder.ebs.zunderapp.Utils.Login" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="zunder.ebs.zunderapp.Profile.Profile" />
        <activity android:name="zunder.ebs.zunderapp.Wallet.WalletInfo" />
        <activity android:name="zunder.ebs.zunderapp.Utils.ScanQR" />
        <activity android:name="zunder.ebs.zunderapp.Wallet.WalletSettings" />
        <activity android:name="zunder.ebs.zunderapp.Map.MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrPzA7_DTu9-8mbp59bbFyruNWMLTAsBc" />

        <activity android:name="zunder.ebs.zunderapp.Map.CompanyProfile" />
        <activity android:name="zunder.ebs.zunderapp.Utils.Register" />
        <activity android:name="zunder.ebs.zunderapp.Map.RegisterCompany"></activity>
    </application>

</manifest>